colorlog==6.8.2
fastapi==0.111.1
openai_whisper==20231117
pathvalidate==3.2.0
psutil==6.0.0
pydantic==2.8.2
pydub==0.25.1
python-dotenv==1.0.1
sse_starlette==2.1.2
tinytag==1.10.1
transformers==4.41.2
uvicorn==0.30.3
yt_dlp==2024.7.25
