aiohttp
aiosignal
annotated-types
anyio
attrs
Brotli
certifi
cffi
charset-normalizer
click
colorama
colorlog
dnspython
email_validator
fastapi
fastapi-cli
filelock
frozenlist
fsspec
h11
httpcore
httptools
httpx
huggingface-hub
idna
iniconfig
intel-openmp
Jinja2
markdown-it-py
MarkupSafe
mdurl
mkl
mpmath
multidict
mutagen
networkx
numpy
orjson
outcome
packaging
pluggy
pycparser
pycryptodomex
pydantic
pydantic_core
pydub
Pygments
pytest
pytest-asyncio
python-dotenv
python-multipart
PyYAML
regex
requests
rich
safetensors
shellingham
sniffio
sortedcontainers
sse-starlette
starlette
sympy
tbb
tokenizers
torch --index-url https://download.pytorch.org/whl/cu121
tqdm
transformers
trio
typer
typing_extensions
ujson
urllib3
uvicorn
watchfiles
websockets
yarl
yt-dlp
